$output-bourbon-deprecation-warnings: false !default;
@import "padroes/reset";
@import "padroes/predefinicoes";

@import "padroes/formatacoes";
@import "padroes/fancybox";


/////// LAYOUT
body, html {
	overflow-x: hidden;
	&.noscroll {overflow-y: hidden;}
}

body {
	font-weight: normal;
	font-style: normal;
	font-size: 17px;
	line-height: 1.7;
	color: $texto;
	font-family: $fonte-padrao;
	position: relative;
	min-height: 200vh;
	letter-spacing: 0.09em;

	@media (max-width: $smart-maior) { font-size: 15px; }
	@media (max-width: $celular) { font-size: 14px; }

	&.bg-rosa { 
		background: $rosa url('../img/fundo-pgespecial-rosa.png') no-repeat center bottom / 100% auto; 
		color: white; padding-bottom: 50vh;
	}
	&.bg-turquesa {background: $turquesa; color: white;}
	&.bg-azul {background: $azul-marinho; color: white;}
}

@import "layout/menu";
@import "layout/cabecalho";
@import "layout/componentes";
@import "layout/home";

@import "layout/artigos";

@import "layout/rodape";

.popup {
	h1 { margin-bottom: .9em; }
}

// ========================================//
// GOOGLE TRADUTOR
// ========================================// 
ul#linguas {
	position: fixed;
	top: 50%; right: 0;
	background: $azul-escuro;
	padding: .5em; border-radius: 6px 0 0 6px;
	@include transform(translateY(-50%));

	li {
		display: block;
		padding: .2em 0;

		a {
			display: block; font-size: 0;
			img { width: 20px; vertical-align: bottom}
		}
	}
}

body{ top: 0 !important }
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
#google_translate_element2 {display:none!important;}