#menu {
	background: $rosa;
	text-align: center;
	font-size: .8em;
	text-transform: uppercase;
	position: fixed; left: 50%;
	@include transform(translateX(-50%)); z-index: 2;
	@include flex(space-between);
	@include align-items(center);

	&:before {
		background: $rosa; content: '';
		@include expandefundo;
	}

	&:after {
		content: ""; height: 1px; background: white;
		position: absolute; bottom: 0;  width: 105vw;
		left: 50%; @include transform(translateX(-50%));
	}

	& > * {position: relative; color: white;}

	h1 { line-height: 1; font-size: 1.95em; }

	button {
		background: transparent; text-transform: uppercase; display: none;
		color: white; padding: 0 20px; line-height: calc(4em - 16px); cursor: pointer;
		font-size: inherit; font-weight: bold; border-radius: 8px; letter-spacing: 0.09em; margin: 8px 0;

		&:hover, &:focus {
			background: white; color: $rosa; 
		}

		@media (max-width: 800px) {
			display: block;
		}
	}

	& > ul {
		margin: 0; 

		& > li {
			display: inline-block;
			margin: 0; position: relative;

			a {
				position: relative;
				color: white;
				display: block;
				padding: 0 1em;
				line-height: 4;
				font-weight: 500;

				&:before, &:after {
					width: 0; height: 3px; display: block; opacity: 0; position: absolute;
					left: 50%; content: ""; background: white;
					@include transition(width .3s ease-in-out, opacity .3s ease-in-out);
				}

				&:before { top: 0; @include transform(translateX(-50%));}
				&:after { bottom: 0; @include transform(translateX(-50%)); }

			}

			&.current_page_item a, &.current-menu-item a, &:hover a, &:focus a {
				&:before, &:after {
					width: 100%; opacity: 1;
				}
			}

			&:hover, &:focus {
				& > ul {
                    left: 50%;
                    top: calc(100% - 3px);
                    width: auto;
                    opacity: 1;
                }
			}

			& > ul {
                margin:0;
                position: absolute;
                left: -9999px;
                @include transform(translateX(-50%));
                top: 110%;
                background: white;
                box-shadow: 1px 1px 1px transparentize(black,0.95);
                opacity: 0;
                @include transition(opacity 0.5s ease, top 0.5s ease);
                z-index: 1000;

                &:after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    @include transform(translateX(-50%));
                    display: block;
                    width: 0;
                    left: 50%;
                    border-width: 0 10px 10px;
                    z-index: 1;
                    border-color: white transparent;
                    top: -9px;
                }

                li {
                    position: relative;
                    text-align: center;
                    white-space: nowrap;
                    border-top: 1px solid white;

                    &:first-child {border-top: 0}

                    a {
                        width: auto; color: $texto;
                        display: inline-block;
                        padding: 6px 16px;
                        font-size: 11px; line-height: 1.8;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        font-weight: 500;

                        &:hover {color: $rosa}
                    }
                }
            }
		}
	}

	@media (max-width: 800px) {
		ul {
			width: 100%; display: none;
			&.mostrar {display: block;}

			li { 
				width: 100%; border-top: 1px solid white; 

				a {
					&:before, &:after {display: none;}
					&:hover, &:focus {
						background: darken($rosa,5%);
					}
				}
			}
		}
	}

	#cabecalho.home & {
		@include justify-content(center);
		h1 {
			width: 0; overflow: hidden; opacity: 0; 
			@include transition(opacity .5s ease-in-out);
		}

		@media (max-width: 800px) {
			@include justify-content(space-between);

			h1.mostrar { width: initial; opacity: 1; }
		}
	}


	////////////////// OUTRAS CORES
	body.bg-turquesa & {
		background: $turquesa;
		&:before {background: $turquesa;}
		button:hover, button:focus { color: $turquesa; }

		@media (max-width: 800px) {
			ul li a {
				&:hover, &:focus { background: darken($turquesa,5%); }
			}
		}
	}
	body.bg-azul & {
		background: $azul-marinho;
		&:before {background: $azul-marinho;}
		button:hover, button:focus { color: $azul-marinho; }

		@media (max-width: 800px) {
			ul li a {
				&:hover, &:focus { background: darken($azul-marinho,5%); }
			}
		}
	}
}