/////// FONTES
@font-face {
    font-family: 'Mazzard M';
    src: url('fonts/subset-MazzardM-BoldItalic.woff2') format('woff2'),
        url('fonts/subset-MazzardM-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mazzard M';
    src: url('fonts/subset-MazzardM-Medium.woff2') format('woff2'),
        url('fonts/subset-MazzardM-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard M';
    src: url('fonts/subset-MazzardM-MediumItalic.woff2') format('woff2'),
        url('fonts/subset-MazzardM-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Mazzard M';
    src: url('fonts/subset-MazzardM-Regular.woff2') format('woff2'),
        url('fonts/subset-MazzardM-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard M';
    src: url('fonts/subset-MazzardM-Italic.woff2') format('woff2'),
        url('fonts/subset-MazzardM-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mazzard M';
    src: url('fonts/subset-MazzardM-Bold.woff2') format('woff2'),
        url('fonts/subset-MazzardM-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



